@font-face {
  font-family: "Lato";
  src: url("../../shared/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../shared/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poiret One";
  src: url("../../shared/assets/fonts/PoiretOne/PoiretOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
