$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1280px;
$tablet-l: 1024px;
$tablet-m: 820px;
$mobile-xl: 767px;
$mobile-l: 590px;
$mobile-m: 375px;
$mobile-s: 340px;

@mixin desktop-xl() {
	@media (min-width: $desktop-xl) {
		@content;
	}
}

@mixin desktop-l() {
	@media (min-width: $desktop-l) {
		@content;
	}
}

@mixin desktop-m() {
	@media (min-width: $desktop-m) {
		@content;
	}
}

@mixin tablet-l() {
	@media (min-width: $tablet-l) {
		@content;
	}
}

@mixin tablet-m() {
	@media (min-width: $tablet-m) {
		@content;
	}
}

@mixin mobile-xl() {
	@media (min-width: $mobile-xl) {
		@content;
	}
}

@mixin mobile-l() {
	@media (min-width: $mobile-l) {
		@content;
	}
}

@mixin mobile-m() {
	@media (min-width: $mobile-m) {
		@content;
	}
}

@mixin mobile-s() {
	@media (min-width: $mobile-s) {
		@content;
	}
}