:root {
    // colors
    --gray-light-color: #616060; // accordion panel background
    --gray-color: #f7e0e0; // circle number, portfolio filter scrollbar
    --gray-dark-color: #676767; // accordion icon "+"
    --red-color: #8A171A; // social media icons, numbers, first and last letter in H1
    --error-color: #ff0000; //error
    --black-color: #eee9e9;
    --background-color: #18181a;
    --text-color: #F6F6F6;
    --white: #665e5e;

    //fonts
    --font-lato: "Lato", sans-serif; //main text
    --font-poiret-one: "Poiret One", sans-serif; //accent text

    //font-size
    --font-size-xxs: 0.75rem; // photo hover, mobile nav, mobile accordion
    --font-size-xs: 1rem; // regular text
    --font-size-s: 1.25rem;
    --font-size-sm: 1.5rem; // button
    --font-size-m: 1.75rem;
    --font-size-md: 2rem; // price 
    --font-size-lg: 2.25rem; // numbers(steps)
    --font-size-l: 3rem; // quote, service title
    --font-size-xl: 5rem;
    --font-size-xxl: 8rem; // H1

    // mobile font-size
    --mobile-font-size-xs: 0.5rem; // beside numbers, accordion panel, portfolio photo description  
    --mobile-font-size-sm: 0.625rem; // portfolio filter 
    --mobile-font-size-md: 0.8rem; // regular text
    --mobile-font-size-lg: 1.125rem; // numbers(steps)
    --mobile-font-size-xl: 1.25rem; // quote

    // font-weight
    --font-weight-semibold: 600;

    // line-height
    --line-height: 1.4;

    // text transform
    --text-uppercase: uppercase;
    --text-capitalize: capitalize;

    --text-indent: 1.5rem;
}