@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 20;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.fade {
        opacity: 0;
    }

    .logo {
        width: auto;
        height: 250px;
        animation: zoomPulse 2.2s ease-in-out infinite;
        transition: all 2s ease-in-out;
    }

    &.loaded .logo {
        animation: none;
        width: 50px;
        height: 50px;
        position: absolute;
    }
}

@keyframes zoomPulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    }
    50% {
        transform: scale(1.12);
        filter: drop-shadow(0 0 30px rgba(255,255,255,0.35));
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    }
}

@include mobile-xl {
    .loader {
        &.loaded .logo {
            margin: 0 80px;
        }
    }
}

@include tablet-l {
    .loader {
        &.loaded .logo {
            width: auto;
            height: 110px;
        }
    }
}
