@use "../../../app/styles/media-queries.scss" as *;
@use "../../../app/styles/vars.scss" as *;

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000; 
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);  
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.closeBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer; 
    z-index: 1002;
}

@include tablet-l{
       .modalContentWrapper{
        width: 80%;
        height: 100%;
    }
}
