@use "@/app/styles/vars.scss" as *;

$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-xl: var(--font-size-xl);
$font-size-xxl: var(--font-size-xxl);

$sizes: (
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  xl: $font-size-xl,
  xxl: $font-size-xxl
);

@each $name, $size in $sizes {
  .#{$name} {
    font-size: $size;
  }
}

.button {
    position: relative;
    font-family: var(--font-lato);
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
    color: var(--black-color);
    
    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
      }
    
    &::after {
      content: "";
      position: absolute;
      bottom: -3px; 
      left: 0;
      width: 0%;
      height: 1px; 
      background-color: currentColor;
      transition: width .7s ease;
    }   
}

.primary::after {
  width: 100%;
}

.secondary:hover::after {
  width: 100%;
}

.isLoading {
  cursor: default;
}

.loader {
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// не нашла квадратных кнопок на сайте. Нужен ли такой класс?
.square {
    background: var(--white);
    padding: 10px;
    opacity: 0.7;
}