@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixins.scss" as *;

.sectionContacts{
    @include section-style;
   min-height: 100vh;
    & {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    @include mobile-xl {
        grid-template-columns: repeat( 2, 1fr);
    }
}
.headingStyle{
    text-transform: var(--text-uppercase);
}

.textStyle {
    text-indent: var(--text-indent);
}

.picture {
    width: 100%;
    img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}

.ctaLink {
    margin-top: auto;
}

