@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.navbarMobile {
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    padding: 0 20px;
}


.menu {
    list-style: none;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 16;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
}

.sectionLink {
    font-family: var(--font-lato);
    text-decoration: none;
    color: var(--black-color);
}