@use "@/app/styles/media-queries.scss" as *;

.noMargin {
    margin: 0;
}

.tabularNumbers {
    font-variant-numeric: tabular-nums;
}

.lato {
    font-family: var(--font-lato);
}

.poiretOne {
    font-family: var(--font-poiret-one);
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}


.h1 {
    font-size: 32px;
    line-height: 1.2;

    @include tablet-m {
        font-size: 32px;
    }
}

.h2 {
    font-size: 20px;
    line-height: 1.3;

    @include tablet-m {
        font-size: 24px;
    }
}

.h3 {
    font-size: 16px;
    line-height: 1.4;

    @include tablet-m {
        font-size: 18px;
    }
}

.body16 {
    font-size: 16px;
    line-height: var(--line-height);

    @include tablet-m {
        font-size: 18px;
    }
}

.body14 {
    font-size: 14px;
    line-height: var(--line-height);

    @include tablet-m {
        font-size: 16px;
    }
}

.body12 {
    font-size: 12px;
    line-height: var(--line-height);

    @include tablet-m {
        font-size: 14px;
    }
}