@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/mixins.scss" as *;

.sectionAbout {
  @include section-style;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include mobile-xl {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch; // важно: stretch
    justify-content: space-between;
  }
}

.picture {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;

    @include mobile-xl {
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Правая колонка (Stack) */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* Заголовок */
.title {
  text-transform: var(--text-uppercase);
}

/* Текстовые абзацы */
.text {
  text-indent: var(--text-indent);
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Цитата — прижимаем вниз */
.quoteContainer {
  margin-top: auto; // ⭐ главное изменение
  padding: 1rem;
  border-top: 1px solid var(--gray-color);
}

/* Текст цитаты */
.quoteText {
  font-size: var(--font-size-md);
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}
