@use "@/app/styles/vars.scss" as *;
@use "@/app/styles/media-queries.scss" as *;
@use "@/app/styles/fonts.scss" as *;
@use "@/app/styles/mixins.scss" as *;

.header {
  @include section-style;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 5px 5px;

  @include mobile-xl {
      padding: 5px 5px;
  }

  @include desktop-m {
    box-shadow: none;
  }
}

.logo {
  height: 50px;
  width: auto;

  @include tablet-l {
    height: 60px;
  }
}


.logoLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 0;
}