
@use "@/app/styles/mixins.scss" as *;

.button {
  @include glowing-orange-button;

  padding: 16px 34px;
  border-radius: 16px;
  letter-spacing: 0.2px;
  font-size: 16px;
}



@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none !important;
  }
}