@use "@/app/styles/mixins.scss" as *;
@use "@/app/styles/media-queries.scss" as *;

.whatsAppLink {
  font-size: var(--mobile-font-size-xl);
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;
  color: var(--black-color);
  transition: color 0.3s ease;
  font-family: var(--font-lato);

  @include tablet-l {
    font-size: var(--font-size-sm);
  }
}